.carrito-detalles {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 47.2em;
    font-size: 13px;
}

.carrito-detalles table th {
    width: 12em;
    /* background-color: lightgreen; */
}

.carrito-detalles table thead tr {
    background-color: whitesmoke;
    height: 20px;
    border: 0;
    margin: 0;
    padding: 0;
}

.carrito-detalles table thead:first-child td div {
    background-color: white;
    display: flex;
    align-items: flex-end;
}

.hidden {
    visibility: hidden;
}

.carrito-detalles table thead:first-child td div span {
    display: flex;
    align-items: flex-end;
    background-color: white;
    font-size: 25px;
    border-bottom: 5px solid royalblue
}

.carrito-detalles table {
    border-collapse: collapse;
    border: none;
    display: inline-block;
}

.carrito-detalles table img {
    height: 100%;
}

.carrito-detalles table td {
    font-weight: bold;
    text-align: center;
    /* background-color: red; */
    width: 33em;
}

.carrito-detalles table tbody td {
    display: flex;
}

.carrito-detalle-img {
    width: 30%;
    height: 100%;
    position: relative;
    /* background-color: greenyellow; */
}

.mi-carrito div {
    color: red;
    width: 10em;
    background-color: red;
}

.carrito-detalle-descripcion {
    width: 70%;
    display: flex;
    align-items: center;
}

.carrito-detalle-descripcion {
    width: 70%;
    display: flex;
    align-items: center;
}

.carrito-detalles tbody td {
    display: flex;
    /* s */
}

.carrito-detalles tr {
    border-bottom: 1px solid rgba(172, 172, 172, 0.308);
}

.carrito-detalles tbody img {
    width: 100%;
}

.carrito-detalles table tbody input {
    width: 40px;
    text-align: center;
    font-size: 14px;
}

tfoot tr td {
    background-color: whitesmoke;
}

tfoot tr td div {
    margin-top: 1em;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

tfoot tr td div p {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(172, 172, 172, 0.308);
    margin: 7px 7px 12px 0px;
}

tfoot tr td div p span {
    width: 50%;
}

.pagar {
    height: 8em;
    display: flex;
    background-color: white;
    align-items: flex-end;
}

.pagar button {
    position: relative;
    margin-top: 1em;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    width: 12em;
    height: 3.5em;
    background-color: red;
    border-radius: 5px;
}

.pagar span {
    font-size: 20px;
}

.pagar button:hover {
    background-color: black;
    transition: background 0.3s;
}

.tfoot-tr-1 {
    border-bottom: 1px solid rgba(172, 172, 172, 0.308);
}

.posicionBoton {
    align-items: flex-start;
}

.informacion-adicional {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion-adicional div {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 5em;
    border: 1px solid black;
}

.informacion-adicional div span {
    font-weight: bolder;
}

.seleccionado{
    background-color: #337ab7;
    border-radius: 5px;
    color: white;
}


/*Update carrito */

.contenedorform {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.subcontenedorform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.items {
    flex-grow: 1;
}

.items input[type=text],
[type=email] {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2.6em;
    width: 100%;
   
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    outline: none;
 
}
.infoTransferencia{
    display: flex;
    flex-direction: column;

    
}

.infoTransferencia >div{
    margin-top: 1px;
    display: flex;
 
   
}

.infoTransferencia >div div{
  
    display: flex;
    flex-direction: column;
    
}
.infoTransferencia input{
    border:1px solid black;
    border-radius: 5px;
    outline: none;
    width: 30em;
    margin: 0.3em;
    height: 2.6em;
}


.items input[type=tel] {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2.6em;
    width: 50%;
 
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    outline: none;

}

.items input[type=text]:focus,
[type=email]:focus,
[type=tel]:focus {
    border-color: dodgerBlue;
}

fieldset {
    border: none;
}

legend {
    font-size: 20px;
    font-weight: 500;
}

fieldset div {
    padding: 10px;
}

.contenedoropcion {
  
    display: flex;
    width: 40%;
    justify-content: space-between;
}


span.requerido {
    font-weight: bold;
    color: red;
}

hr {
    margin-top: 5px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, #103c6e, #3d85c4);
}


.advertencia{
    padding: 14px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    
    background-color: #3379b777;
    color: rgb(9, 9, 82);
  
}
.advertencia h4,p{
    margin-bottom: 0.1em;
}

.datosTarjeta{
 
 
    display: flex;
    flex-direction: column;
    
}
.datosTarjeta >:first-child{
  
    display: flex;
    flex-direction: column;
}
#comprobarTerminos{
    margin-bottom: 2em;
}
.datosTarjeta input{

    border-radius: 5px;
    margin-left: 1em;
  
    outline: none;
    border:1px solid black
}
.datosTarjeta >:first-child input{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
#formulario{
    font-size: 15px;
}
#formulario > div :focus{
    border :1px solid royalblue;
   
    box-shadow: 0px -2px 11px 0px rgba(65,105,225,0.69);
}

.datosTarjeta>:nth-child(2){
 
    
    display: flex;
    
}


.datosTarjeta input{
    padding: 10px;
    width: 20em;
    height: 2.6em;
}

.opcionesEntrega{
    display: flex;
    flex-direction: column;
}
.opcionesEntrega >div{
    display: flex;
}

.opcionesEntrega select{
   
    width: 30em;
    height: 2.3em;
    outline: none;
    border-radius: 5px;

}



.opcionesEntrega textarea{
 
    width: 30em;
    min-height: 10em;
    resize: none;
    outline: none;
}

.transferencia{
    display: flex;
    
}


.transferencia input{
    margin-left: 1em;

    width: auto;
    height: auto;

}
.transferencia>div{
   
    width: 30%;
    
   
    margin-right: 1em;
}

@media screen and (max-width:600) {
    .contenedoropcion {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contenedoropcion {
        flex-direction: column;
        width: 100%;
    }
    .datosTarjeta input{
        width: 13em;
        
    }
    .infoTransferencia div input{
    
        width: 27em;
    }
    .infoTransferencia > div {
  
        display: flex;
        flex-direction: column;
        
    }
}

@media (max-width: 1024px) {
    .infoTransferencia input{
        width: 23em;
    }
    .transferencia{
       flex-direction: column;
        
    }
    .datosTarjeta div{
        flex-direction: column;
       
    }
    .datosTarjeta >:nth-child(3){
       
        display: flex;
       flex-direction: column;
    }
    .datosTarjeta div input{
        margin-top: 1em;
        
    }
    .datosTarjeta input{
        width: 30em;
        
    }
    .carrito-detalles table td {
        font-weight: bold;
        text-align: center;
        /* background-color: red; */
        width: 13em;
    }
    .opcionesEntrega >div{
        flex-direction: column;
    }
    tfoot tr td div {
        font-size: 12px;
    }

    .transferencia input{
        margin-left: 0em;
        width: 1em;
      
        height: auto;
    
    }
    .transferencia>div{
      
       display: flex;
       flex-direction: row;;
       
        width: 100%;
        display: flex;
        margin-top: 1em;
        margin-right: 0em;
    }
    .transferencia label{
     
        width: 3m;
    }
}