.carrito-detalles {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 47.2em;
    font-size: 13px;
}

.carrito-detalles table th {
    width: 12em;
    /* background-color: lightgreen; */
}

.carrito-detalles table thead tr {
    background-color: whitesmoke;
    height: 20px;
    border: 0;
    margin: 0;
    padding: 0;
}

.carrito-detalles table thead:first-child td div {
    background-color: white;
    display: flex;
    align-items: flex-end;
}

.hidden {
    visibility: hidden;
}

.carrito-detalles table thead:first-child td div span {
    display: flex;
    align-items: flex-end;
    background-color: white;
    font-size: 25px;
    border-bottom: 5px solid royalblue
}

.carrito-detalles table {
    border-collapse: collapse;
    border: none;
    display: inline-block;
}

.carrito-detalles table img {
    height: 100%;
    padding: 20px;
}

.carrito-detalles table td {
    font-weight: bold;
    text-align: center;
    /* background-color: red; */
    width: 33em;
}

.carrito-detalles table tbody td {
    display: flex;
}

.carrito-detalle-img {
    width: 30%;
    height: 100%;
    position: relative;
    /* background-color: greenyellow; */
}

.mi-carrito div {
    color: red;
    width: 10em;
    background-color: red;
}

.carrito-detalle-descripcion {
    width: 70%;
    display: flex;
    align-items: center;
}

.carrito-detalle-descripcion {
    width: 70%;
    display: flex;
    align-items: center;
}

.carrito-detalles tbody td {
    display: flex;
    /* s */
}

.carrito-detalles tr {
    border-bottom: 1px solid rgba(172, 172, 172, 0.308);
}

.carrito-detalles tbody img {
    width: 100%;
}

.carrito-detalles table tbody input {
    width: 40px;
    text-align: center;
    font-size: 14px;
}

tfoot tr td {
    background-color: whitesmoke;
}

tfoot tr td div {
    margin-top: 1em;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

tfoot tr td div p {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(172, 172, 172, 0.308);
    margin: 7px 7px 12px 0px;
}

tfoot tr td div p span {
    width: 50%;
}

.pagar {
    height: 8em;
    display: flex;
    background-color: white;
    align-items: flex-end;
}

.pagar button {
    position: relative;
    margin-top: 1em;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    width: 12em;
    height: 3.5em;
    background-color: red;
    border-radius: 5px;
}

.pagar span {
    font-size: 20px;
}

.pagar button:hover {
    background-color: black;
    transition: background 0.3s;
}

.tfoot-tr-1 {
    border-bottom: 1px solid rgba(172, 172, 172, 0.308);
}

.posicionBoton {
    align-items: flex-start;
}

.informacion-adicional {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion-adicional div {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 5em;
    border: 1px solid black;
}

.informacion-adicional div span {
    font-weight: bolder;
}

.seleccionado{
    background-color: #337ab7;
    border-radius: 5px;
    color: white;
}


/*Update carrito */

.contenedorform {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.subcontenedorform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.items {
    flex-grow: 1;
}

.items input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2.6em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.568);
    border-bottom-width: 2px;
    outline: none;
 
}
.infoTransferencia{
    display: flex;
    flex-direction: column;

    
}

.infoTransferencia >div{
    margin-top: 1px;
    display: flex;
 
   
}

.infoTransferencia >div div{
  
    display: flex;
    flex-direction: column;
    
}
.infoTransferencia input{
    border:1px solid black;
    border-radius: 5px;
    outline: none;
    width: 30em;
    margin: 0.3em;
    height: 2.6em;
}


.items input[type=tel] {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2.6em;
    width: 50%;
 
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    outline: none;

}

.items input[type=text]:focus,
[type=email]:focus,
[type=tel]:focus {
    border-color: dodgerBlue;
}

fieldset {
    border: none;
}

legend {
    font-size: 20px;
    font-weight: 500;
}

fieldset div {
    padding: 10px;
}

.contenedoropcion {
  
    display: flex;
    width: 40%;
    justify-content: space-between;
}


span.requerido {
    font-weight: bold;
    color: red;
}

hr {
    margin-top: 5px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, #103c6e, #3d85c4);
}


.advertencia{
    padding: 14px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    
    background-color: #3379b777;
    color: rgb(9, 9, 82);
  
}
.advertencia h4,p{
    margin-bottom: 0.1em;
}

.datosTarjeta{
 
 
    display: flex;
    flex-direction: column;
    
}
.datosTarjeta >:first-child{
  
    display: flex;
    flex-direction: column;
}
#comprobarTerminos{
    margin-bottom: 2em;
}
.datosTarjeta input{

    border-radius: 5px;
    margin-left: 1em;
  
    outline: none;
    border:1px solid black
}
.datosTarjeta >:first-child input{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
#formulario{
    overflow: hidden;
    border:1px solid rgba(0, 0, 0, 0.075);
    padding: 10px;
    font-size: 15px;
}
#formulario > div :focus{
    border :1px solid royalblue;
   
    box-shadow: 0px -2px 11px 0px rgba(65,105,225,0.69);
}

.datosTarjeta>:nth-child(2){
 
    
    display: flex;
    
}


.datosTarjeta input{
    padding: 10px;
    width: 20em;
    height: 2.6em;
}

.opcionesEntrega{
    display: flex;
    flex-direction: column;
}
.opcionesEntrega >div{
    display: flex;
}

.opcionesEntrega select{
   
    width: 30em;
    height: 2.3em;
    outline: none;
    border-radius: 5px;

}



.opcionesEntrega textarea{
 
    width: 30em;
    min-height: 10em;
    resize: none;
    outline: none;
}

.transferencia{
    display: flex;
    
}


.transferencia input{
    margin-left: 1em;

    width: auto;
    height: auto;

}
.transferencia>div{
   
    width: 30%;
    
   
    margin-right: 1em;
}

.AlertaDatos{
    width: 100%;
    position: relative;
    top:-7em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 3s;
 
   
}
.AlertaDatos >div{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 72, 72);
    color:white;
    border-radius: 6px;
    min-height: 3em;
    width: 50%;
    text-align: center;

  
 
   
}


.pagoRealizado{
    margin-top: 2em;
    margin-bottom: 2em;
   
   width: 40%;
   margin-left: 30%;
    min-height: 30em;
    border: 1px solid black;
    border-radius: 5px;
   transition: all 2s;

    
}




.pagoRealizado >div:first-child div span{
    text-align: center;       
 }

.pagoRealizado >div:first-child{
     height: 20%;
     background-color: royalblue;
     display: flex;
     color: white;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
     padding: 14px;

}
.pagoRealizado >div:first-child div{
   display: flex;
   justify-content: center;  
  
}
.pagoRealizado>div img{
 
    width: 10%;
    margin-bottom: 10px;
}
.pagoRealizado>div:nth-child(2){
   
    color: rgb(63, 63, 63);
    min-height: 14em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 1.2em;

}

.pagoRealizado>div:nth-child(2) p{
    margin-left: 1em;
    font-weight: bold;
}

.pagoRealizado>div:nth-child(2) p span{
     margin-left: 40%;
     font-weight:normal


}

.pagoRealizado>div:nth-child(3){
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagoRealizado>div:nth-child(3) p{
    color: rgb(63, 63, 63);
    margin-bottom: 1em;


}

.pagoRealizado>div:nth-child(3) a{
    outline: none;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: royalblue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1em;

}

.procesandoPago{
    margin-top: 2em;
    margin-bottom: 2em;

   width: 40%;
   margin-left: 30%;
    min-height: 30em;

    border-radius: 5px;
   display: flex;
   align-items: center;
  


}
.procesandoPago>div img:hover{
    background-color: red;
    transform: translateY(-0%);
    opacity: 10;
    transition: all 2s;
}
.procesandoPago>div{
    display: flex;
    height: 50%;
    width: 100%;

    align-content: center;
    justify-content: center;
    transition: all 2s;
    

}
.procesandoPago img{
   
    width: 100%;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
    
}




.sinProductos{
    min-height: 33em;
    display: flex;
    flex-direction: column;

    align-items: center;
  


}
.sinProductos>div{
    margin-top: 9em;
}



.sinProductos>div:first-child{
    border-bottom: 2px solid rgba(148, 148, 148, 0.425);
    
    padding: 10px;
    width: 25%;
}
.sinProductos>div:last-child{
    margin-top: 2em;
    width: 25%;
    display: flex;
    justify-content: flex-end;


    
}
.sinProductos>div:last-child a{
    text-decoration: none;
    background-color: royalblue;
    color:white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    
}
.sinProductos>div:first-child span {
    font-size: 2em;

}





@media screen and (max-width: 600px) {
    #infoPago{
        width: 22em;
    }
   
  #formulario{
      font-size: 12px;
  }
  .carrito-detalles{
      font-size: 10px;
  }
   
    .infoTransferencia input{
       width: 19em;
    }
    .datosTarjeta >div input{
        width: 19em;

    }
    .sinProductos>div{
        margin-top: 10em;
    }
    
    
    
    .sinProductos>div:first-child{
     
        width: 80%;
    }
    .sinProductos>div:last-child{
    
       width: 80%;
   }
    

}


@media screen and (max-width: 768px) {


   

    #formaEntrega{
      
        width: 21.1em;
    }
 
    #formulario{
        width: 100%;
    }
    .datosTarjeta{
        width:100%;
    }
    .contenedoropcion {
       
   
     
        flex-direction: column;
        width: 70%;
    }
   
    .infoTransferencia > div {
       
       width: 19em;
        display: flex;
        flex-direction: column;
        
    }
    .infoTransferencia div input{
    
        width: 100%;
    }

    .datosTarjeta{
        
       width: 100%;
    }

    .subcontenedorform{
        flex-direction: column
        ;
    }

    .pagoRealizado>div:nth-child(2) p span{
        margin-left: 10%;
        font-weight:normal;
        
   
   }
   .pagoRealizado>div:nth-child(2) p span{
    margin-left: 10%;
  
    font-weight:normal

}

   .pagoRealizado>div:nth-child(3) p{
     text-align: center;
    }
    .sinProductos>div:first-child  {
        align-items: center;
     
     }
    
    
 
 
}






@media (max-width: 1024px) {

    #infoPago{
       
        width: 100%;
    }
     #formaEntrega{
        
         width: 100%;
     }
     
     .infoTransferencia input{
         width: 23em;
     }
     .transferencia{
        flex-direction: column;
         
     }
     .datosTarjeta div{
         flex-direction: column;
        
     }
     .datosTarjeta >:nth-child(3){
        
         display: flex;
        flex-direction: column;
     }
     .datosTarjeta div input{
         margin-top: 1em;
         
     }
     .datosTarjeta input{
         width: 30em;
         
     }
     .carrito-detalles table td {
         font-weight: bold;
         text-align: center;
         /* background-color: red; */
         width: 13em;
     }
     .opcionesEntrega >div{
         flex-direction: column;
     }
 
  
     .opcionesEntrega{
         width: 100%;
         padding: 0;
        
     }
     .opcionesEntrega >div{
     
         width: 100%;
     }
     .opcionesEntrega div select{
       
         width: 100%;
        
     }
     .opcionesEntrega div textarea {
       
         width: 100%;
        
     }
     #carritoActualizado div{
         padding: 0;
     }
    
     tfoot tr td div {
         font-size: 12px;
     }
 
     .transferencia input{
         margin-left: 0em;
         width: 1em;
       
         height: auto;
     
     }
     .transferencia>div{
       
        display: flex;
        flex-direction: row;;
        
         width: 100%;
         display: flex;
         margin-top: 1em;
         margin-right: 0em;
     }
     .transferencia label{
      
         width: 3m;
     }
     .carrito-detalles{
         width: 100%;
     }

     .pagoRealizado{
        width: 70%;
       margin-left: 15%;
    }
    .procesandoPago{
        width: 80%;
        margin-left: 10%;
    }
 
  
 
   
   
 }