.Contactenos{
 
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    min-height: 20em;
    width: 70%;
    margin-bottom: 2em;
    font-size: 15px;
    padding: 21px;

    
}
.infoTienda >div{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
    
}
.imgFormulario{
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
}
.infoTienda{
    padding: 12px;

    
 
    width: 50%;
  
}

.formularioTienda{
    border: 1px solid black;
    width: 50%;
    padding: 12px;
  
}
.formularioTienda form > div h2{
   display: flex;
   align-items: center;
   justify-content: center;
}
.formularioTienda form >:nth-child(2){
  
     display: flex;
     flex-direction: column;
 
}
.formularioTienda form :nth-child(2) >div{
    margin-bottom: 1em;
    padding: 10px;

}
.formularioTienda form >:nth-child(2) input{
    width: 70%;
    border-radius: 5px;
    border:1px solid black;
    outline: none;
    padding: 10px;
    height: 2.6em;

}
.formularioTienda form >:nth-child(2) label {
    display: inline-block;
    
  
  text-align: end;
    width: 25%;
}

.formularioTienda form >:nth-child(2) >:nth-child(3){
    display: flex;
} 

.formularioTienda form >:nth-child(2) textarea {
    border-radius: 5px;
    margin-left: 10px;
    width:70%;
    height: 15em;
    resize: none;
}

.formularioBoton{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.formularioBoton input{
    color: white;
    border:1px solid royalblue;
    background-color: royalblue;
    outline: none;
    width: 8em;
    height: 3em;
    border-radius: 5px;
}
.formularioTienda span{
    color:red;
}
.formularioBoton input:hover{
    background-color: rgb(53, 74, 138);
}

@media (max-width: 1366px) {
    .Contactenos{
        margin-top: 12px;
       
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
   
      
       
    }



}

@media (max-width: 1024px) {
    .Contactenos{
        
 
        width: 100%;
        margin-left: 0%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .Contactenos>div:first-child{
     
        width: 100%;
    }
    
    .infoTienda>div p{
        width: 20em;
      
       
    }
    .formularioTienda{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .infoTienda > div p{

        width: 20em;
       text-align: center;
       
    }
    .imgFormulario img{
        width: 5em;
        margin-right: 2em;
    }
    .formularioTienda{
        width: 100%;
    }
   
}

@media (max-width: 500px) {
    .infoTienda > div p{
        width: 10em;
       text-align: center;
       
    }
    .imgFormulario img{
        width: 5em;
        margin-right: 2em;
    }
    .formularioTienda{
        width: 100%;
    }
   
}

@media (max-width: 300px) {
    .Contactenos{
       padding: 0;
    }
    .imgFormulario img{
        width: 5em;
        margin-right: 1px;
    }
}
