.container{
    position: relative;
    /* background-color: red; */
    display: flex;
    height: 45.5em;
   display: flex;
   justify-content: center;
}

.img{
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    position: relative;
    
}
.img img{
    border: 1px solid black;
    position: relative;
    /* background-color: rgb(255, 255, 255); */
    width: 30em;
    max-width: 30em;
    max-height: 30em;
    bottom:3em;
   
}

.detalles{
    width: 25%;
    /* background-color: rgb(0, 255, 157); */
    
}
.Descripcion h1{
    margin-bottom: 2em;
    text-align: center;
}
.Descripcion p{
    font-size: 25px;
}
.Descripcion{
    position: relative;
    /* background-color: darkcyan; */
    top:5em;
    text-align: center;
    width: 75%;
    height: 12em;
}
.precio{
    /* background-color: lightpink; */
    position: relative;
    top: 4em;
    width: 75%;
    text-align: center;
    color:red;
    font-size: 2.5em;
}

.agg-carrito{
    position: relative;
    top:10em;
   /* background-color: rgb(101, 19, 255); */
   width: 75%;
   height: 20%;
   display: flex;
    flex-direction: column;
   justify-content: center;
}

.cantidad{
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 55%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.cantidad input{
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 5em;
    height: 3em;
    padding: 0;
   
   
    text-align: center;
    font-size: 20px;
    outline: none;
    border: 1px solid gray;

}
.agg-carrito button{
    position: relative;
    background-color:red;
    border: none;
    outline: none;
  font-size: 20px;
    width: 15em;
    height: 60%;
    left: 7%;
    color:white;
    border-radius:45px;

}
.agg-carrito button:hover{
    background-color: rgb(160, 5, 5);
   
}


