.infoTexto{
    border: 1px solid black;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 4em;
    width: 50%;
    min-height: 32em;
    line-height :2em;
    margin-left: 25%;
}
.infoTexto span{
    font-weight: bold;
}
.infoTexto h1{
  
    display: flex;
    align-items: center;
    justify-content: center;
}

