.pagoRealizado {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 40%;
    margin-left: 30%;
    min-height: 30em;
    border: 1px solid black;
    border-radius: 5px;
    /*  opacity: 0%;
    transform: translateY(-5%);*/
}

.pagoEfecto {
    opacity: 100%;
    transform: translateY(0%);
    transition: all 2s;
}

.pagoRealizado>div:first-child div span {
    text-align: center;
}

.pagoRealizado>div:first-child {
    height: 20%;
    background-color: royalblue;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 14px;
}

.pagoRealizado>div:first-child div {
    display: flex;
    justify-content: center;
}

.pagoRealizado>div img {
    width: 10%;
    margin-bottom: 10px;
}

.pagoRealizado>div:nth-child(2) {
    color: rgb(63, 63, 63);
    min-height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
}

.pagoRealizado>div:nth-child(2) p {
    margin-left: 1em;
    font-weight: bold;
}

.pagoRealizado>div:nth-child(2) p span {
    margin-left: 40%;
    font-weight: normal
}

.pagoRealizado>div:nth-child(3) {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagoRealizado>div:nth-child(3) p {
    color: rgb(63, 63, 63);
    margin-bottom: 1em;
}

.pagoRealizado>div:nth-child(3) a {
    outline: none;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: royalblue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1em;
}

.procesandoPago {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: lightcyan;
    width: 40%;
    margin-left: 30%;
    min-height: 30em;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.procesandoPago>div img:hover {
    background-color: red;
    transform: translateY(-0%);
    opacity: 10;
    transition: all 2s;
}

.procesandoPago>div {
    display: flex;
    height: 50%;
    width: 100%;
    background-color: rgb(0, 211, 211);
    align-content: center;
    justify-content: center;
    transition: all 2s;
}

.procesandoPago img {
    width: 100%;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .pagoRealizado {
        width: 70%;
        margin-left: 15%;
    }
    .procesandoPago {
        width: 80%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 768px) {
    .pagoRealizado>div:nth-child(2) p span {
        margin-left: 10%;
        font-weight: normal
    }
    .pagoRealizado>div:nth-child(3) p {
        text-align: center;
    }
}