body{
    /* background-image: url(assets/images/f4.jpg); */
 


   background-color: black ;
   padding: 0;
   margin: 0; 

   
 
  
}
.container{
    background-image: url(../assets/img/fondo/87k1.gif);
    background-size:cover;
    background-position-y:-13em ;
    background-repeat:no-repeat;
   
    min-height: 45em;
}


.logo-tienda{
    position: relative;
    width: 15em;
    height: 15em;
    background-image: url(../assets/img/logo3.jpg);
    background-size: contain;
    border-radius: 100%;
    left: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    top:1em;
    background-size: contain;
    

    
}

.texto-anime{
   
    padding:1em;
    position: relative;
    width: 51em;
    min-height: 10em;
    left: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(146, 146, 146, 0.5);
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:2em;
    
    
  
}
.texto-anime h2 , p {
    color:white;
    
    
}
.footer{
    /* display: flex; */
    position: absolute;
    background-color: black;
    width: 100%;
    height: 5em;
    bottom: 0;
    height: 7em;
   
    
}


@media (max-width: 1024px) {
    .logo-tienda{
        width:10em;
        height: 10em;
        top:-2em;
    }

    .container{
        min-height: 40em;
        background-position-y: 2em;
    }
  
    .texto-anime{
        top:-1em;
        width: 80%

    }

}