.rutas {
    color: black;
    background-color: rgb(245, 245, 245);
    height: 2em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rutas a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .rutas span {
    margin: 10px;
  }
  