* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  transition: height 0.3s;
  align-items: center;
  
}
.envios {
  background-color: black;
  width: 100%;
  height: 3em;
  font-size: 16px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.busqueda {
  width: 100%;
  display: flex;
  height: 120px;
}
.busqueda input {
  position: absolute;
  width: 30em;
  height: 2em;
  left: 35em;
  margin-top: 3em;
}
.busqueda img {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 16em;
  height: 12em;
  left: 10em;
  top: 1em;
}

#boton-menu {
  display: none;
}
header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
  
}
.menu{
    z-index: 1000;
}
.menu ul {
  background-color: black;
  display: flex;
  list-style: none;
  font-size: 13px;
  
}
.menu ul ul {
  display: none;

}
.menu a {
  
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menu ul ul a{
    color:black;
}
.menu a:hover {
   
  background: rgba(0, 0, 0, 0.3);

  }
.menu a span {
  margin-left: 10px;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  width: 13em;
  top:16.6em;
  
  background-color: white;
  border-radius: 2px;

  
}

.cambio {
  background: red;
}
.grid-container{
   padding: 1em;
   /* background-color: blue; */
   display: grid;
   
    grid-template-columns: 19.0em 19.0em  19.0em 19.0em 19.0em 19.0em;
    grid-template-rows: 23em  23em 23em 23em;
    grid-gap: .8em;
    
    width: 100%;
    height: 105em;
 }
 
 .grid-item {
  /* border: 1px solid green; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 2rem;
 background-color: red;

 }

 .grid-item:first-child{
   background-color: green;
   grid-column-start: 1;
   grid-column-end: 4;
   background-image: url(../assets/images/BANNER-MARVEL-1400x700.png);
 
  background-size: cover;
 
 }
 .grid-item:nth-child(2){

  grid-column-start: 4;
  grid-column-end: 7;
  background-image: url(../assets/images/BANNERS-FUNKO2-1400x700.png);
  background-size: cover;

 }

 .grid-item:nth-child(3){
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../assets/images/BANNER-STAR-WARS-1400x700.png);
  background-size:cover;
  background-position:center;
  /* grid-column-start: 3;
  grid-column-end: 5; */

 }
 .grid-item:nth-child(4){
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(../assets/images/BANNER-RICK-AND-MORTY-1400x700.png);
  background-size: cover;

 }
 .grid-item:nth-child(5){
  grid-column-start: 5;
  grid-column-end: 7;
  background-image: url(../assets/images/BANNER-GOT-1400x700.png);
  background-size: cover;
  background-position:center;

 }
 .grid-item:nth-child(6){
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../assets/images/BANNER-DISNEY-1400x700.png);
  background-size: cover;
  background-position: center;


 }
 .grid-item:nth-child(7){
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(assets/images/BANNER-DC-1400x700.png);
  background-size:cover;
  background-position:center;
 }
 .grid-item:nth-child(8){
  grid-column-start: 5;
  grid-column-end: 7;
  background-image: url(assets/images/BANNER-ANIME-1400x700.png);
  background-size:cover;
  background-position:center;

 }
 .grid-item:nth-child(9){
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../assets/images/deadpool.jpg);
  background-size:cover;
  background-position:center;

 }
 .grid-item:nth-child(10){
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(../assets/images/spiderman.jpg);
  background-size:cover;
  background-position:center;

 }
 .grid-item:nth-child(11){
  grid-column-start: 5;
  grid-column-end: 7;
  background-image: url(../assets/images/HARRY-POTTER-BANNER-1400x700.png);
  background-size:cover;
  background-position:center;

 }

 .grid-item:hover{

 transition: filter .1s;
 }
@media (max-width: 768px) {
  header label {
    display: block;
  }
  header {
    justify-content: flex-end;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 194px;
    width: 100%;

    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .menu ul {
    flex-direction: column;
    background-color: #555;
  }
  .menu ul li:hover ul {
    display: none;
    position: static;
  }

  .menu a span {
    position: absolute;
    right: 0;
  }

  #boton-menu:checked ~ .menu {
    transform: translateX(0);
  }
  .menu ul ul {
    background-color: rgba(0, 0, 0, 0.4);
   
  }
  .menu ul ul a {
    padding: 15px 40px;
    color: white;
  }
  .busqueda {
    height: 6em;
  }
  .busqueda img {
    top: 2em;
    left: 1em;
    width: 5em;
    height: 6em;
  }
  .busqueda input {
    position: absolute;
    width: 14em;
    height: 2em;
    left: 7em;
    margin-top: 2em;
  }

  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .menu ul li:hover ul {
   
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    
  }
  
.grid-container{

  display: grid;
 padding-top:10px;
  /* background-color: blue; */
  display: grid;
   grid-template-columns: 25em;
   justify-content: center;
   grid-template-rows: 10.5em  10.5em 10.5em 10.5em 10.5em  10.5em 10.5em 10.5em 10.5em  10.5em 10.5em 10.5em;
   grid-gap: .8em;
   width: 100%;
   height: 125em;
}

.buscar-icono {
  display: none;
}
.grid-item {
  border: 1px solid green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 2rem;
 /* background-color: red; */

 }

 .grid-item:first-child{
   grid-column-start: 1;
   grid-column-end: 2;
 }

 .grid-item:nth-child(2){
   grid-column-start: 1;
   grid-column-end: 2;
 }
 .grid-item:nth-child(3){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(4){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(5){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(6){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(7){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(8){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(9){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(10){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item:nth-child(11){
  grid-column-start: 1;
  grid-column-end: 2;
}

  
}
