* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}


header {
  height: 50px;
  /* background-color: #509410; */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  transition: height 0.3s;
  align-items: center;
  /* flex-wrap: wrap; */

  z-index: 22;
}
.envios {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 2em;
  font-size: 16px;
  display: flex;
  color: black;
  justify-content: flex-start;
  align-items: center;
}
.envios a {
  height: 100%;
  margin: 0;
  font-size: 14px;
  padding: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 10em;
  /* background-color: red; */
  position: relative;
  background-image: url(../assets/img/logo-tienda.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 10px;
  margin-right: 0%;
  margin-left: 5%;
}
.logo a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  /* s */
}

.envios a {
  font-weight: bolder;
  z-index: 2;
  text-decoration: none;
  color: rgb(26, 26, 26);
  /* background-color: red; */
  margin-left: 1em;

  padding: 1em;
}
.envios a:hover {
  background-color: #7e1094;
}
.busqueda {
  width: 100%;
  display: flex;
  /* background-color: #282424; */
  background-color: rgb(255, 255, 255);
  height:6em;
  justify-content:space-around;
}

.busqueda-div {
  position: relative;
  margin-left: 15%;

  width: 35%;
  height: 2.5em;
  margin-right: 20px;
  margin-top: 1em;

  border: 1px solid black;
  /* border-radius: 10px; */
  background-color: rgb(255, 255, 255);
}

.busqueda input {

  position: relative;
  width: 94%;
  height: 90%;
  border: 1px solid white;
  border: none;
  /* background-color: gray; */
  
  margin: 3px;
}
.busqueda input:focus {
  outline: none;
}

.contenedorCarrito {
  z-index: 999999;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
  font-size: 14px;

 
  
}


.contenedorLista table tr:last-child{
  
  border:none
}

.contenedorLista{
  width: 33em;
  max-width: 33em;
}
.contenedorCarrito img {
  display: block;
  width: 2.4em;
  cursor: pointer;
}

.contenedorLista img {
  /* background-color: lightpink; */
  width: 30px;
}

.contenedorCarrito table tr th {
  padding: 12px 20px;
  /* background-color: red; */
  width:6em;
  text-align: center;
  max-width: 6em;
  outline: none;
  

}

.contenedorCarrito table tr th img {
  width: 50px;
}
.contenedorCarrito a {
  padding: 15px;

  text-decoration: none;
}
.borrarItem {
  display: block;
  background-color: rgb(255, 0, 0);
 font-size: 12px;
  z-index: 1000;
  width:30px;
  height: 35px;
  text-align: center;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



.vaciarCarrito {
  display: block;
  border: 1px solid gray;
  width: 100%;
  text-align: center;
  /* background-color: rgb(5, 165, 130); */
  color: black;
}
.contenedorLista {
  
  position: relative;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
  visibility: hidden;
  padding: 10px;
}
.contenedorLista input{
  font-size: 18px;
}



.contenedorCarrito img:hover + .contenedorLista {
  display: block;
  visibility: visible;
}
.contenedorLista:hover {
  visibility: visible;
}
header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
#boton-menu {
  display: none;
}
.menu {
  z-index: 1000;
  width: 100%;
}
.menu ul {
  background-color: royalblue;
  display: flex;
  list-style: none;
  font-size: 13px;
  margin: 0;
  flex-basis:80px ;
  /* background-color: red; */
  justify-content: center;
  padding: 0;

  width: 100%;
}
.menu ul ul {
  width: 100%;
  display: none;
  background-color: white;
}


.menu a {
  margin: 0;
  display: block;
  padding: 18px 20px;
  color: white;
  text-decoration: none;
}
.menu ul ul a {
  color: black;
}
.menu a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.menu a span {
  margin-left: 10px;
}

.menu ul ul li {
  background-color: rgb(255, 255, 255);
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  width: 13em;
  

  /* height: 19em; */

  /* background-color: white; */
  border-radius: 2px;
}
.footer {
  /* position: absolute; */
  background-color: rgb(43, 43, 43);
  width: 100%;
  height: 6em;
  bottom: 0;
  /* top:3em; */
}
.footer ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: -0.2em;
  height: 1em;
  /* background-color: red; */
}
.footer ul li {
  padding: 2em;
}
.footer ul li a {
  width: 3em;
  height: 3em;
}

.facebook {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/facebook.png);
  background-size: cover;
}
.instagram {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/instagram.png);
  background-size: cover;
}
.whatsapp {
  position: relative;
  display: inline-block;
  background-image: url(../assets/img/whatsapp.png);
  background-size: cover;
}

.footer ul li:hover a {
  transform: scale(1.4);
}

.targeta {
  position: relative;
  background-image: url(../assets/img/tarjeta-de-credito.png);
  width: 3em;
  height: 3em;
  /* width: 4vh;
      height: 4vh; */
  background-size: contain;
}
.footer-item {
  position: absolute;
  /* background-color: red; */
  margin-left: 65em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer-item-texto {
  text-align: center;
}



.contenedorLista table tbody{
  display: inline-block;

  overflow-y: scroll;
 
  max-height:20em;
}

.contenedorLista table{

  display: block;
}


@media (max-width: 768px) {
  header label {
    display: block;
  }
  header {
    justify-content: flex-end;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 11.1em;
    width: 100%;

    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #boton-menu {
    display: none;
  }

  .menu ul {
    flex-direction: column;
    background-color: #555;
  }
  .menu ul li:hover ul {
    display: none;
    position: static;
  }

  .menu a span {
    position: absolute;
    right: 0;
  }
  .menu ul ul li {
    background-color: transparent;
  }

  #boton-menu:checked ~ .menu {
    transform: translateX(0);
  }
  .menu ul ul {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .menu ul ul a {
    padding: 15px 40px;
    color: white;
  }
  .busqueda {
    height: 6em;
  }
  .busqueda img {
    display: none;
    top: 3em;
    left: 1em;
    width: 5em;
    height: 6em;
  }
  .busqueda-div {
    margin-top: 3.5em;

    width: 18em;
    left: 12em;
    top: 1em;
  }
  .busqueda input {
    /* position: absolute; */
    width: 15em;
    height: 2em;
    left: 7em;
  }
  .logo {
    left: 1em;
    justify-content: center;
    background-position-y: 1.6em;
  }
  .carrito-compra {
    position: absolute;
    background-color: red;
    width: 10em;
    height: 40em;
    display: flex;
    flex-direction: columns;
  }

  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .menu ul li:hover ul {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .footer ul li a {
    width: 2em;
    top: 1em;
    margin-left: -2em;
    height: 2em;
  }
  .footer-item {
    margin-left: 11em;
    top: 2em;
    font-size: 10px;
    width: 19em;
    /* background-color: red; */
    justify-content: center;
  }
}
@media (max-width: 1366px) {
}
