* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
 
}
@font-face {
    font-family: Nans;
    src: url('/assets/fuentes/Champagne.ttf');
}
@font-face {
    font-family: modern;
    src: url('/assets/fuentes/modern\ M.ttf');
}


header {

    height: 50px;
    /* background-color: #509410; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    transition: height 0.3s;
    align-items: center;
    /* flex-wrap: wrap; */
    z-index: 2222;
}

.envios {
  
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 2em;
    font-size: 16px;
    display: flex;
    color: rgba(0, 0, 0, 0.226);
    justify-content: flex-start;
    align-items: center;
}

.envios a {
    font-family: Nans, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10em;
    /* background-color: red; */
    position: relative;
    background-position-y: 10px;
    margin-right: 0%;
    margin-left: 5%;
}

.logo a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    /* s */
}

.envios a {
    
    z-index: 2;
    text-decoration: none;
    color: rgb(26, 26, 26);
    /* background-color: red; */
    margin-left: 1em;
    padding: 1em;
}

.envios a:hover {
    color: royalblue;
 
}

.btn-Menu {
    display: none;
}

.btn-Menu img {
    max-width: 100%;
}

.menu {
    
    background-color: royalblue;
    min-height: 3em;
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100em;
}

.menu ul li {
    font-size: 13px;
    display: flex;
    width: 12.5%;
}

.menu ul li a {
    
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

.menu ul ul {
    display: none;
    padding: 10px;
}

.menu ul ul li {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.menu ul ul li a {
    height: auto;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: auto;
    margin-top: 1em;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submenu:hover>ul {
   
    display: flex;
    width: 10em;
    padding: 0;
    margin: 2em;
    margin-top: 3.7em;
    min-width: 10em;
    z-index: 10000;
    position: absolute;
    flex-direction: column;
   
    border: 1px solid rgba(65, 105, 225, 0.267);
   
    border-top: 0;
}

.menu ul ul li:hover {
   
    background-color: rgb(94, 94, 94);
}

.contenedorLista table tbody {
    display: inline-block;
    overflow-y: scroll;
    max-height: 20em;
}

.contenedorLista table {
    display: block;
}


/*
   estilo de la barra de busqueda
*/

.busquedaCarrito {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    ;
    padding: 0;
    margin: 0;
    height: 5em;
}

.busqueda {
    position: relative;
    border: 3px solid rgba(128, 128, 128, 0.288);
    margin-left: 10%;
    display: flex;
    height: 3em;
    width: 30%;
    border-radius: 10px;
    padding: 3px;
}

.logo img {
    margin: 0;
    height: 85%;
}

.logo {
    width: 20%;
    height: 100%;
    margin-right: 30px;
    display: flex;
}

.busqueda input {
    outline: none;
    border: none;
    width: 95%;
    font-size: 20px;
    height: 100%;
}

#busquedaButton {
    background-color: white;
    border: none;
    outline: none;
    width: 2em;
    height: 100%;
}

.busqueda a img {
    background-color: royalblue;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
}

.contenedorCarrito {
    z-index: 90;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: relative;
    font-size: 14px;
}

.contenedorCarrito {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 20%;
    margin-left: 10%;
    height: 100%;
}

.contenedorLista table tr:last-child {
    border: none
}

.contenedorLista {
    width: 33em;
    max-width: 33em;
}

.contenedorCarrito img {
    z-index: 1222;
    width: 2.5em;
    cursor: pointer;
}

.contenedorLista img {
    /* background-color: lightpink; */
    width: 30px;
}

.contenedorCarrito table tr th {
    padding: 12px 20px;
    /* background-color: red; */
    width: 6em;
    text-align: center;
    max-width: 6em;
    outline: none;
}

.contenedorCarrito table tr th img {
    width: 50px;
}

.contenedorCarrito a {
    padding: 15px;
    text-decoration: none;
}

.borrarItem {
    display: block;
    background-color: rgb(255, 0, 0);
    font-size: 12px;
    z-index: 1000;
    width: 30px;
    height: 35px;
    text-align: center;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.vaciarCarrito {
    display: block;
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    /* background-color: rgb(5, 165, 130); */
    color: black;
}

.contenedorLista {
    position: relative;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    visibility: hidden;
    padding: 10px;
}

.contenedorLista input {
    font-size: 18px;
    width: 45px;
    height: 20px;
}

.contenedorCarrito a {
    padding: 11px;
}

.contenedorCarrito a:hover+.contenedorLista {
    display: block;
    visibility: visible;
}

.contenedorLista:hover {
    visibility: visible;
}

#carritoCantidad {
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    margin-left: 18px;
    padding: 3px;
    margin-top: -15px;
    background-color: rgb(83, 86, 97);
    color: white;
    width: 17px;
    text-align: center;
    border-radius: 75%;
}

.rutas {
    color: black;
    background-color: rgb(245, 245, 245);
    height: 2em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rutas a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rutas span {
    margin: 10px;
}

.contenedor-footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(43, 43, 43);
}

footer img {
    height: 100px;
    width: auto;
}

footer li>img {
    width: 36px;
    height: 36px;
}

footer img+a {
    margin-left: 10px;
}

footer>* {
    flex: 1 100%;
}

.logo-footer {
    margin-right: 1em;
    margin-bottom: 2em;
}

footer h2 {
    font-weight: 400;
    font-size: 15px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer li {
    line-height: 2em;
}

footer a {
    text-decoration: none;
    color: #999;
}

footer a:hover {
    color: blanchedalmond;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.r-footer>* {
    flex: 1;
}

.r-footer >:nth-child(3) li {
    margin-bottom: 1em;

   display: flex;
   align-items: center;

}

.logo-footer {
    flex: 1 0px;
}

.r-footer {
    flex: 2 0px;
}

.oculto {
    display: none;
}

.Alerta {
    padding: 9px;
    position: absolute;
    background-color: white;
    font-size: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 6%;
    top: 100%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

.Alerta::after {
    content: '';
    display: block;
    position: absolute;
    top: -1em;
    margin-left: 40%;
    width: 0;
    height: 0;
    border-top: 8px solid rgba(0, 0, 0, 0.575);
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: rotate(180deg);
}

.Alerta img {
    height: 2em;
}
@media (max-width: 1366px) {
    .logo{
        width: 15%;

    }
  .busqueda{
    
      width: 30%;
  }

}
@media (max-width: 1024px) {
    .imgProd{
     
       justify-content: center;
    }
    .contenedorLista {
        position: absolute;
        overflow: hidden;
        width: 0%;
        display: none;
    }
    .contenedorCarrito a:hover+.contenedorLista {
        display: none;
    }
    .busqueda {
        margin: 0;
        width: 100%;
    }
    .contenedorCarrito {
        width: 100%;
        margin: 0;
        margin-top: 1.2em;
        display: flex;
        align-items: flex-end;
    }
    .busquedaCarrito {
        flex-direction: column;
        height: auto;
    }
    .logo {
        padding: 30px;
        width: 90%;
    }
    .logo img {
        width: 100%;
    }
    .carrito-compra {
        position: absolute;
        width: 10em;
        height: 40em;
        display: flex;
        flex-direction: columns;
    }
    .fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .footer ul li a {
        width: 2em;
        top: 1em;
        margin-left: -2em;
        height: 2em;
    }
    .footer-item {
        margin-left: 11em;
        top: 2em;
        font-size: 10px;
        width: 19em;
        /* background-color: red; */
        justify-content: center;
    }
    .menu {
        z-index: 122000;
        transform: translateX(-100%);
        transition: 0.3s;
        padding: 0;
        position: absolute;
    }
    .trasladarMenu {
        transform: translateX(0);
    }
    .menu ul {
        z-index: 121412;
        margin-top: 1em;
        margin-left: 1;
        height: auto;
        flex-direction: column;
    }
    .menu ul li {
        min-height: 3em;
        height: auto;
        width: 100%;
        margin-top: 10px;
    }
    .menu ul li a {
        padding-left: 1em;
        justify-content: flex-start;
        width: auto;
        align-items: flex-start;
    }
    .menu ul ul li a {
        z-index: 1241421;
        flex-direction: column;
        align-items: center;
        width: 10em;
        margin-left: 2em;
        justify-content: flex-end;
        align-items: flex-start;
        color: white;
    }
    .menu ul ul li {
        margin: 0;
        background-color: rgb(55, 81, 146);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .btn-Menu {
        background-color: rgb(31, 123, 197);
        width: 100%;
        height: 3.3em;
        display: flex;
        align-items: flex-start;
    }
    .btn-Menu>:first-child {
        margin-left: 1em;
        padding: 10px;
        width: 3.3em;
        height: 100%;
    }
    .btn-Menu:first-child img {
        height: 20%;
        width: 80%;
    }
    .submenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submenu {
        align-items: flex-start;
    }
    .submenu:hover>ul {
        margin-left: 0;
        margin-top: 1em;
        position: relative;
        width: 100%;
    }
  
}

@media (max-width: 400px) {
    footer img{
        width: 12em;
    }
}