.grid-container {
  padding-top: 3em;
  position: relative;
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 15em 15em 15em;
  grid-template-rows: 15em 15em 15em;
  grid-gap: 5em;
  justify-content: center;
  width: 100%;
  height: 42rem;
  margin-bottom: -0.34em;
}

.grid-item {
  position: relative;
  /* background-color: red; */
}

.grid-item-link {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  text-align: center;
}

.grid-item-link-img {
  /* background-color: limegreen; */
  width: 100%;
  height: 85%;
}

.grid-item-link-img img {
  width: 100%;
  height: auto;
}

.grid-item-link-span {
  position: relative;
  height: 15%;
  background-color: rgba(54, 54, 54, 0.993);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .grid-container {
    position: relative;
    grid-template-columns: 8em 8em 8em 8em 8em 8em;
    grid-template-rows: 10em 10em 10em;
    grid-gap: 10px;
    left: 10em;
  }
  .grid-item {
    /* border: 2px solid black; */
    /* background-color: red; */
    margin-left: 1px;
    margin-bottom: 0;
    margin: 0;
  }
  .grid-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .grid-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-item:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .grid-item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-item:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .grid-item a span {
    top: 4.4em;
    width: 10.5em;
  }
}