button {
    border: 0px;
    outline: none;
}

main {
    display: flex;
}

.filtro {
    margin-top: 2em;
    width: 15em;
    margin-left: 2%;
    min-width: 15em;
    height: 25em;
}

.filtro ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.055);
}

.filtro ul li h2 {
    border-bottom: 2px solid royalblue;
}

.filtro ul li {
    margin-top: 2em;
}

.filtro ul button {
    background-color: royalblue;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    width: 5em;
}

.filtro-ordenar {
    position: absolute;
    display: flex;
    width: 100%;
    height: 2em;
    align-items: center;
}

.filtro-ordenar>:first-child {
    padding: 10px;
    width: 10em;
    margin-left: 20%;
    display: flex;
}

.filtro-ordenar>:first-child h3 {
    padding: 3px;
    border-bottom: 3px solid royalblue;
}

.filtro-ordenar>div:last-child {
    font-size: 1em;
    margin-left: 47%;
    padding: 10px;
}

.grid-container {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.6em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 17em);
    grid-auto-rows: minmax(24em, 24em);
    grid-gap: 5em;
    justify-content: center;
    width: 80%;
    position: relative;
    min-height: 38.1em;
    overflow: hidden;
}

.grid-item {
    /* border-radius: 5px; */
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    align-items: flex-end;
    margin: 0;
    padding: 12px;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.prodDisponible {
    display: none;
}

.prodNoDisponible {
    position: absolute;
    background-color: red;
    right: 12px;
    width: 35%;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 4px;
}

.prod-detalles-img {
    position: relative;
    color: red;
    /* background-color: rgb(0, 217, 255); */
    background-size: contain;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-detalles-img img {
    width: auto;
    height: 100%;
}

.prod-detalles {
    box-shadow: 0px 0px 1px 0px #bdbdbd;
    /* background-color: yellow; */
    position: relative;
    height: 90%;
    width: 100%;
}

.prod-detalles-descripcion {
    position: relative;
    /* background-color: rgb(7, 194, 47); */
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prod-detalles-descripcion h2 {
    padding: 12px;
    font-size: 14px;
}

.prod-detalles a {
    z-index: 999;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-style: none;
}

.prod-detalles-precio {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(165, 8, 8); */
    height: 15%;
    font-size: 14px;
}

.prod-detalles-precio span {
    color: red;
    font-size: 2em;
}

.prod-boton {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgba(248, 248, 248, 0);
}

.prod-boton button {
    position: relative;
    background-color: royalblue;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    border-radius: 3px;
    overflow: hidden;
}

.prod-boton:hover button {
    background-color: rgba(10, 35, 146, 0.815);
    transition: background 0.2s;
}

.link-prod {
    background-color: red;
    position: relative;
    z-index: 12312;
    width: 10em;
    height: 12em;
}

.sinResultados {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    width: 40%;
    border-bottom: 1px solid royalblue;
    margin-top: 10em;
    margin-left: -19em;
    ;
}

@media (max-width: 1366px) {
    .grid-container {
        width: 70%;
        grid-template-columns: repeat(auto-fit, 15em);
    }
}

@media (max-width: 1024px) {
    .filtro {
        display: none;
    }
    .grid-container {
        margin-top: 4em;
        width: 100%;
        grid-template-columns: repeat(2, max(20 em));
        grid-template-rows: repeat(min(1), 28em);
    }
    .filtro-ordenar {
        position: absolute;
        display: flex;
        width: 100%;
        height: 2em;
        align-items: center;
    }
    .filtro-ordenar {
        margin-top: 2em;
    }
    .filtro-ordenar>:first-child {
        padding: 10px;
        width: 50%;
        margin-left: 3%;
        display: flex;
    }
    .filtro-ordenar>div:last-child {
        font-size: 18px;
        margin-left: 20%;
        padding: 10px;
        border-bottom: none;
    }
}