.ubicacion {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
.ubicacion > iframe {
  margin-top: 6em;
}
.ubicacion > div {
  position: absolute;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .ubicacion > iframe {
    margin-top: 9em;
  }
}
