* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  transition: height 0.3s;
  align-items: center;
  
}
.envios {
  background-color: black;
  width: 100%;
  height: 3em;
  font-size: 16px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.busqueda {
  width: 100%;
  display: flex;
  height: 120px;
}
.busqueda input {
  position: absolute;
  width: 30em;
  height: 2em;
  left: 35em;
  margin-top: 3em;
}
.busqueda img {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 16em;
  height: 12em;
  left: 10em;
  top: 1em;
}

#boton-menu {
  display: none;
}
header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
  
}
.menu{
    z-index: 1000;
}
.menu ul {
  background-color: black;
  display: flex;
  list-style: none;
  font-size: 13px;
  
}
.menu ul ul {
  display: none;

}
.menu a {
  
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menu ul ul a{
    color:black;
}
.menu a:hover {
   
  background: rgba(0, 0, 0, 0.3);

  }
.menu a span {
  margin-left: 10px;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  width: 13em;
  top:16.6em;
  
  background-color: white;
  border-radius: 2px;

  
}

.cambio {
  background: red;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  header {
    justify-content: flex-end;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 194px;
    width: 100%;

    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .menu ul {
    flex-direction: column;
    background-color: #555;
  }
  .menu ul li:hover ul {
    display: none;
    position: static;
  }

  .menu a span {
    position: absolute;
    right: 0;
  }

  #boton-menu:checked ~ .menu {
    transform: translateX(0);
  }
  .menu ul ul {
    background-color: rgba(0, 0, 0, 0.4);
   
  }
  .menu ul ul a {
    padding: 15px 40px;
    color: white;
  }
  .busqueda {
    height: 6em;
  }
  .busqueda img {
    top: 2em;
    left: 1em;
    width: 5em;
    height: 6em;
  }
  .busqueda input {
    position: absolute;
    width: 14em;
    height: 2em;
    left: 7em;
    margin-top: 2em;
  }

  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .menu ul li:hover ul {
   
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    
  }
  
}
