* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  header {
    height: 50px;
    /* background-color: #509410; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    transition: height 0.3s;
    align-items: center;
    
  }
  .envios {
    background-color: black;
    width: 100%;
    height: 2em;
    font-size: 16px;
    display: flex;
    color: white;
    justify-content:flex-start;
    align-items: center; 
  
  }
  .envios a{
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  
   
  }
  .logo{
  width: 10em;
  /* background-color: red; */
  position: relative;
  left: 10em;
  background-image: url(/assets/images/logo-tienda.png);
  background-size: contain;
  background-repeat: no-repeat;
  
  
  }
  .logo-a{
    position: absolute;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
  }
  
  .envios a{
    z-index: 2;
    text-decoration: none;
    color:white;
    /* background-color: red; */
    margin-left:1em;
  
    padding: 1em;
    
  
  }
  .envios a:hover{
     background-color: #509410;;
  }
  .busqueda {
    width: 100%;
    display: flex;
    /* background-color: #282424; */
    background-color: whitesmoke;
    height: 70px;
  }
  
  .busqueda-div{
    position: absolute;
    left: 40em;
    width: 43em;
    height: 2.5em;
  
    margin-top: 1em;
   border: 1px solid black;
   /* border-radius: 10px; */
   background-color: white;
  }
  
  .busqueda input {
  
    width: 40em;
    height: 2em;
    /* border: 1px solid white; */
    border:none;
    left: 35em;
  
    margin: 3px;
    
  }
  .busqueda input:focus{
  
    outline: none;
    
  }
  
  
  .busqueda img {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 16em;
    height: 12em;
    left: 10em;
    top: 1em;
  }
  
  #boton-menu {
    display: none;
  }
  header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
    
  }
  .menu{
      z-index: 1000;
  }
  .menu ul {
    /* background-color: blue; */
    display: flex;
    list-style: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
    
  }
  .menu ul ul  {
    display: none;
    
   
   
  
  }
  
  .menu a {
  
    margin: 0;
    display: block;
    padding: 18px 20px;
    color: white;
    text-decoration: none;
  }
  .menu ul ul a{
      color:black;
  }
  .menu a:hover {
     
    background: rgba(0, 0, 0, 0.3);
  
    }
  .menu a span {
    margin-left: 10px;
  }
  
  .menu ul ul li{
    background-color: white;
  }
  
  .menu ul li:hover ul {
    display: block;
    position: absolute;
    width: 13em;
    top:11.7em;
    
     height: 19em;
     
    /* background-color: white; */
    border-radius: 2px;
    
  }
  .footer{
      background-color: black;
      width: 100%;
      height: 8em;
     
      
  }
  .footer ul{
      display: flex;
      justify-content:flex-end;
      
  }
  .footer ul li{
      padding: 2em;
  }
  .footer ul li a{
    width: 3em;
    height: 3em;
  }

  .facebook{
      position:relative;
      display: inline-block;
      background-image: url(assets/images/facebook.png);
      background-size: cover;
      
  }
  .instagram{
    position:relative;
    display: inline-block;
    background-image: url(assets/images/instagram.png);
    background-size: cover;
 
  }
  .whatsapp{
    position:relative;
    display: inline-block;
    background-image: url(assets/images/whatsapp.png);
    background-size: cover;
    
  }

  .footer ul li:hover a{
    transform: scale(1.4);
  }
 



  
  
  @media (max-width: 768px) {
    header label {
      display: block;
    }
    header {
      justify-content: flex-end;
    }
  
    .menu {
      position: absolute;
      left: 0;
      top: 11.1em;
      width: 100%;
  
      transform: translateX(-100%);
      transition: all 0.3s;
    }
  
    .menu ul {
      flex-direction: column;
      background-color: #555;
      
    }
    .menu ul li:hover ul {
      display: none;
      position: static;
    }
  
    .menu a span {
      position: absolute;
      right: 0;
    }
    .menu ul ul li{
      background-color:transparent;
      
    }
  
    #boton-menu:checked ~ .menu {
      transform: translateX(0);
    }
    .menu ul ul {
      background-color: rgba(0, 0, 0, 0.4);
     
    }
    .menu ul ul a {
      padding: 15px 40px;
      color: white;
    }
    .busqueda {
      height: 6em;
    }
    .busqueda img {
      display: none;
      top: 2em;
      left: 1em;
      width: 5em;
      height: 6em;
    }
    .busqueda-div{
      margin-top: 3.5em;
   
      width:18em;
      left: 4.5em;
      top:1em;
    }
    .busqueda input {
      /* position: absolute; */
      width: 15em;
      height: 2em;
      left: 7em;
      
    }
  
    .fixed {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
  
    .menu ul li:hover ul {
     
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      
    }
}